		/* GLOBALS*/
		*{
			font-family: sans-serif, verdana, helvetica,;
		}

		body{
			background-color: #272727;
			font-size: 18px;
			color: #444;
		}
		
		/* Colors */
		.decleration{color: #8ADA2D;}
		.colon{color: #EEE;}
		.rule{color: #66D9EF;}
		.mesurement{color: #9A76E9;}
		.darkblue-text{color: #24324C;}
		a{color: #EF4158}
		a:hover{color: #D21F34}		

		section{
			max-width: 100%;
			width: 700px;
			margin: 5% auto;
		}
		section h1{
			font-size: 1.5em;
			font-family: sans-serif,arial,verdana;
			font-weight: normal;
			text-align: center;
			color: #fff;
		}
		table{
			margin: 0 auto;
			color: #A4BEEF;
		}
		table tr td{
			padding-top: 10px;
		}
		table input[type="text"]{
			width: 80%;
			height: 2em;
			font-size: 1.5em;
			text-align: center;
			border: none;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border-radius: 5px;
		}
		table p{
			font-size: 1.0em;		
		}
		button{
			display: block;
			width: 90%;
			margin: 30px auto;
			border: none;
			font-family: 'Lobster';
			font-size: 3em;
			color: #FFF;
			background-color: #EF4158;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			border-radius: 10px;
			box-shadow: 0 8px 0 rgba(0,0,0,.3);
			text-shadow: 0 2px 0 rgba(20,20,20,.2);
			outline: none;
			-webkit-transition: background-color ease-in .2s;
			-moz-transition: background-color ease-in .2s;
			-o-transition: background-color ease-in .2s;			
		}
			button:hover,
			button:focus{
				background-color: #D21F34;
				cursor: pointer;
			}
			button:active{
				outline: none;
				box-shadow: 0 4px 0 rgba(20,20,20,.4);
				position: relative;;
				top: 2px;
			}

		#result{
			width: 100%;
			padding: 2%;
			-moz-box-sizing:border-box;
			-webkit-box-sizing:border-box;
			box-sizing: border-box;
			margin: 0 auto;
			font-family: helvetica;
			font-size: .8em;
			color: #57C7EF;
			background: #272822;
			border-left: 1.5em solid #202020;
		}

		#result p{
			line-height: .2;
		}

		#result .rule-line{
			text-indent: 5%;
		}

		aside{
			position: fixed;
			top: 60%;
		}
		aside ul{
			list-style: none;
			font-size: .9em;
			font-weight: normal;
			line-height: 1.5;
		}

		aside ul li:last-child{
			margin-top: 45%;
		}

		aside ul li a{
			color: #A4BEEF;
			text-decoration: none;
			-webkit-transition: color ease-in .2s;
			-moz-transition: color ease-in .2s;
			-o-transition: color ease-in .2s;
		}
			aside ul li a:hover{
			color: #F3CC56;
		}


